.container{
    text-align: center;
    padding: 20px;
    height: 100vh;
    
}

.title{
    
    color: blueviolet;
    margin: 0 0 5px;
    font-family: 'Press Start 2P';
    font-size: 12px;
}

*{
    box-sizing: border-box;
    margin: 3px;
    padding: 12px;
}

body{
    align-items: center;
    display: flex;
    justify-content: center;
}

html,
body {
  height: 100%;
}

.calculadora{
    background-color:#2f2b39 ;
    border-radius: 10px;
    border: 2px solid black;
}

#display{
    background: lightgray;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid grey;
    text-align: end;
    color: black;
}

#history{
    font-size: 1px;
}

.button{
    background-color: transparent;
    border-radius: 5px;
    border: 4px solid lightgrey;
    transition: all 0.15s ease-in-out;   
    cursor:pointer; 
    font-size: 18px;
    font-weight: 500;
    height: 50px;
    margin: 2px;
    color: white;
}
#botao{
    color: aquamarine;
}

#botaoIgual{
    background: purple;
}
.button:hover{
    transform: scale(1.05);
}

.button:active {
    transform: scale(0.94);
  }

.linha{
    display: flex;
    justify-content: space-between;
    
}

.linha-final{
    display: flex;
    justify-content: flex-end;
}